#menu-hamburger__toggle,
.menu-hamburger__btn,
.menu-hamburger__X {
  display: none;
}

    /* screen 1366px*/
#bg {
  background: no-repeat url(img/bali-main-1366.svg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3.9% 4% 0 8%;
}

.logo {
  content: url(img/bali-main-1366-logo.svg);
  transform: scale(.7);
  position:relative;
  z-index:1;
  display: flex;
  align-items: center;
  top: 10%;
  margin: 0 0;
}

.menu {
  float: right;
}

.menu__item {
  position: relative;
  margin-right: 22px;
  text-decoration: none;
  font: 500 16px/19px museosanscyrl, arial, helvetica, sans-serif;
  color: #F8EEE4;
}

.menu__item:hover {
  opacity: .5;
}

.main {
  display: flex;
  align-items: right;
  flex-direction: column;
  margin: 8.7% 0 0 10%;
}

.main__title {
  font: bold 200px/200px PT Serif, arial, helvetica, sans-serif;
  color: #F8EEE4;
  opacity: 0.4;
  margin: 0 0 0 0;
}

.main__subtitle {
  font: bold 70px/70px PT Serif, arial, helvetica, sans-serif;
  color: #F8EEE4;
  margin: -4.5% 0 0 5%;
}
.main__text {
  white-space: pre-line;
  font: 400 16px/17px museosanscyrl, arial, helvetica, sans-serif;
  color: #F8EEE4;
  margin: 0.5% 0 2.5% 1%;
}

.main__button {
  color: #FFFFFF;
  background: #D4BEA3;
  padding: 14px 65px;
  text-decoration: none;
  border-radius: 30px;
  transition: opacity .5s;
  font: 400 16px/19px museosanscyrl, arial, helvetica, sans-serif;
  align-self: flex-start;
  margin-left: 1%;
}

.main__button:hover {
  opacity: .7;
}

.main__img {
  display: flex;
  align-items: right;
  flex-direction: row;
}

.main__img_temple {
  background: no-repeat url(img/bali-main-1366-temple.png);
  top: 18.5%;
  left: 54.3%;
}

.main__img_gates {
  background: no-repeat url(img/bali-main-1366-gates.png);
  top: 19.1%;
  left: 72.7%;
}

.main__img_plant {
  background: no-repeat url(img/bali-main-1366-plant.png);
  top: 19.1%;
  left: 89%;
}

.main__img_temple,
.main__img_gates,
.main__img_plant {
  position: fixed;
  z-index: -1;
  opacity: 0.9;
  border-radius: 5px;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

@media (min-width: 1370px) {
    /* screen 1920px*/
  #bg {
    background: no-repeat url(img/bali-main-1920.svg);
  }

  .header {
    padding: 0.7% 1% 0 2%;
  }

  .logo {
    content: url(img/bali-main-1920-logo.svg);
    transform: scale(1);
  }

  .menu__item {
    font: 500 22px/26px museosanscyrl, arial, helvetica, sans-serif;
    margin-right: 32px;
  }

  .main {
    margin-top: 7%;
  }

  .main__title {
    font: bold 280px/362px PT Serif, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    font: bold 98px/98px PT Serif, arial, helvetica, sans-serif;
    margin-top: -7%;
  }

  .main__button,
  .main__text {
    font: 400 22px/26px museosanscyrl, arial, helvetica, sans-serif;
  }

  .main__button {
    padding: 15px 95px;
  }

  .main__img_temple {
    background: no-repeat url(img/bali-main-1920-temple.png);
    top: 26%;
  }

  .main__img_gates {
    background: no-repeat url(img/bali-main-1920-gates.png);
    top: 27%;
  }

  .main__img_plant {
    background: no-repeat url(img/bali-main-1920-plant.png);
    top: 27%;
  }
}

@media all and (max-width: 1369px) and (min-width: 1000px) {
  /* screen 1024px*/
  #bg {
    background: no-repeat url(img/bali-main-1024.svg);
  }

  .header {
    margin: 5.5% 1.3% 0 1%;
  }

  .main {
    margin: 12% 0 0 3.5%;
  }

  .main__subtitle {
    margin: -6.2% 0 0.5% 6%;
  }

  .main__img_temple {
   background: no-repeat url(img/bali-main-1024-temple.png);
   top: 28%;
   left: 50%;
  }

  .main__img_gates {
  background: no-repeat url(img/bali-main-1024-gates.png);
  top: 29%;
  left: 74%;
  }

  .main__img_plant {
    background: no-repeat url(img/bali-main-1024-plant.png);
    top: 29%;
    left: 96%;
  }
}

@media (max-width: 1000px) {
  /* screen 768px*/
  #bg {
    background: no-repeat url(img/bali-main-768.svg);
  }

  .header {
    margin: 9% 0 14% 3%;
  }

  .main {
    text-align: center;
    margin-left: 0;
  }

  .main__title {
    font: bold 170px/220px PT Serif, arial, helvetica, sans-serif;
    margin-left: 2%;
    text-align: left;
   }

   .main__subtitle {
    font: bold 60px/60px PT Serif, arial, helvetica, sans-serif;
    margin: -17% 0 9% 17%;
  }

  .main__text {
    align-self: center;
    margin: 0 13% 9% 12%;
  }

  .main__button {
    margin: 0 0 0 19%;
  }

  .main__img,
  .menu__item {
    display: none;
  }

  #menu-hamburger__toggle {
    display: block;
    position: fixed;
    opacity: 0;
    align-items: center;
    top: 12%;
    left: 83%;
    width: 28px;
    height: 28px;
  }

  .menu-hamburger__btn {
    display: block;
    align-items: center;
    position: fixed;
    font-size: 31px;
    top: 10%;
    left: 84%;
    color: #FCF5ED;
  }

  #menu-hamburger__toggle:checked ~ .menu-hamburger__btn {
    display: none;
  }
}
